<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thiago.frequnciafcil" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pvirtual3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivityAluno"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ModuloAluno"
            android:label="@string/title_activity_modulo_aluno"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ModuloProfessor"
            android:label="Abrir Frequência"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivityProfessor"
            android:label="@string/title_activity_main_activity_professor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AlunoFaltas"
            android:label="@string/title_activity_aluno_faltas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AlunosPresentes"
            android:label="@string/title_activity_alunos_presentes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PagelaVirtual"
            android:label="@string/title_activity_pagela_virtual"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PerfilAluno"
            android:screenOrientation="portrait"
            android:label="Perfil do Aluno" >
        </activity>
        <activity
            android:name=".Foto"
            android:screenOrientation="portrait"
            android:label="Selecione uma Foto" >
        </activity>
        <activity
            android:name=".MenuProfessor"
            android:screenOrientation="portrait"
            android:label="Menu - Professor" >
        </activity>
        <activity
            android:name=".ListarAlunos"
            android:screenOrientation="portrait"
            android:label="Exibir Todos os Alunos" >
        </activity>
        <activity
            android:name=".MudarSenha"
            android:screenOrientation="portrait"
            android:label="Alteração de Senha" >
        </activity>
        <activity
            android:name=".MenuAluno"
            android:screenOrientation="portrait"
            android:label="Menu - Aluno" >
        </activity>
        <activity
            android:name=".ExibirFoto"
            android:screenOrientation="portrait"
            android:label="Exibir Foto" >
        </activity>
    </application>

</manifest>
